# Node modules
node_modules/
Task1/node_modules/
Task2/node_modules/
Task3/node_modules/

# Build output
dist/
build/
lib/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Test coverage
coverage/

# Teste DB
Task2/data.db
Task3/data.db


